.user-list {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-color: rgb(255, 128, 64);
  -moz-background-color: rgb(255, 128, 64);
  -ms-background-color: rgb(255, 128, 64);
  background-color: rgb(255, 128, 64);
  -moz-color: rgb(0, 0, 255);
  -webkit-color: rgb(0, 0, 255);
  -ms-color: rgb(0, 0, 255);
  color: rgb(0, 0, 255);
}

.text-shadow {
  text-shadow: 2px 2px red;
}

.table-div {
  background-color: rgb(0, 255, 0);
  -webkit-background-color: rgb(0, 255, 0);
  -moz-background-color: rgb(0, 255, 0);
  -ms-background-color: rgb(0, 255, 0);
  color: rgb(0, 255, 0);
}

#border-img {
  border: 10px;
  padding: 15px;
  border-image-source: url("OIP.jfif");
  border-image-repeat: round;
  border-image-slice: 30;
  border-image-width: 10px;
}

#multibackground {
  background-image: url(background1.jfif), url(background2.jfif);
  background-position: left top, left top;
  background-repeat: repeat, no-repeat;
  padding: 75px;
}

#grad6 {
  height: 300px;
  background: -webkit-repeating-radial-gradient(blue, yellow 10%, green 15%);
  background: -o-repeating-radial-gradient(blue, yellow 10%, green 15%);
  background: -moz-repeating-radial-gradient(blue, yellow 10%, green 15%);
  background: repeating-radial-gradient(blue, yellow 10%, green 15%);
}

#grad5 {
  height: 300px;
  background: -webkit-radial-gradient(red 5%, green 15%, pink 60%);
  background: -o-radial-gradient(red 5%, green 15%, pink 60%);
  background: -moz-radial-gradient(red 5%, green 15%, pink 60%);
  background: radial-gradient(red 5%, green 15%, pink 60%);
}

#grad4 {
  height: 100px;
  background: -webkit-linear-gradient(red, orange, yellow, red, blue, green, pink);
  background: -o-linear-gradient(red, orange, yellow, red, blue, green, pink);
  background: -moz-linear-gradient(red, orange, yellow, red, blue, green, pink);
  background: linear-gradient(red, orange, yellow, red, blue, green, pink);
}

#grad3 {
  height: 100px;
  background: -webkit-linear-gradient(left top, red, blue);
  background: -o-linear-gradient(bottom right, red, blue);
  background: -moz-linear-gradient(bottom right, red, blue);
  background: linear-gradient(to bottom right, red, blue);
}

#grad2 {
  height: 100px;
  background: -webkit-linear-gradient(left, red, blue);
  background: -o-linear-gradient(right, red, blue);
  background: -moz-linear-gradient(right, red, blue);
  background: linear-gradient(to right, red, blue);
}

#grad1 {
  height: 100px;
  background: -webkit-linear-gradient(pink, green);
  background: -o-linear-gradient(pink, green);
  background: -moz-linear-gradient(pink, green);
  background: linear-gradient(pink, green);
}

div#myDiv2 {
  width: 300px;
  height: 100px;
  background-color: pink;
  border: 1px solid black;
}

div#myDiv2 {
  transform: skewX(20deg);
}

div#myDiv1 {
  width: 300px;
  height: 100px;
  background-color: pink;
  border: 1px solid black;
}

div#myDiv1 {
  transform: matrix(1, 0, 0.5, 1, 150, 10);
  transform: rotate(20deg);
}

#animation {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.container {
  position: relative;
  margin: 100px;
  background-color: antiquewhite;
}

.box-orange {
  position: sticky;
  background-color: rgb(255, 255, 128);
  height: 100px;
  width: 100px;
  right: 10px;
  top: 100px;
}

.box-blue {
  background-color: rgb(0, 128, 0);
  height: 100px;
  width: 100px;
}

/*# sourceMappingURL=style.css.map */
